body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 100px;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color:white;
    font-size: 24px;
    margin-left: 10%;
}

nav {
    margin-right: 10%;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

nav ul li a{
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: plum;
    transition:all .8s;
}

nav ul li a:hover::after{
    width: 100%;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px;
    gap: 50px;
}

.left {
    width: 50%;
}

.left h1 {
    color: white;
    font-size: 48px;    
}

.left p {
    color: #e5e7eb;
    font-size: 18px;
}

.left button {
    color: white;
    background-color: #3882f6;
    padding: 10px 25px;
    border: 1px;
    border-radius: 5px;    
}

.right {
    margin: auto;
    display: flex;
    width: max-content;
    height: max-content;
}

.right .img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.info-grid {
    text-align: center;
    margin: 5%;
}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
}

.info img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100%;
}

.quote {
    padding: 100px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote h1 {
    font-style: italic;
    font-size: 36px;
    font-weight:100;
    font-family: Arial, Helvetica, sans-serif;
}

.quote h3 {
    text-align: right;
}

.cta {
    padding: 100px;
}



